<div class="col-md-7 col-md-offset-2">
	<% if notice %>
		<div id="notice"><%= notice %></div>
	<% end %>
	<div id="main-content">
		<h2>
			По запиту "<%= params[:query_post] %>" 
			<% if @posts.any? %>
				найдено <%= plural_form(@posts.total_count, ['результат', 'результати', 'результатів']) %> 
			<% else %>
				нічого не знайдено
			<% end %>		
		</h2>
		<hr>
		<% if @posts.any? %>
			<% @posts.each do |post| %>
				<div id="post-block">
					<span id="post-title"><%= link_to post.title, post %></span>
					<span id="action">
						<%= link_to 'Редагувати', edit_post_admin_path(post) %> | 
						<%= link_to 'Видалити', destroy_post_admin_path(post), method: :delete, data: { confirm: "Ви впевнені?" } %>
					</span>
					<hr id="dashed">
					<p>
						<% if post.thumbnail.exists? %>
							<%= image_tag post.thumbnail.url(:small), class: 'img-thumbnail', id: 'post-thumbnail' %>		
						<% end %>	
						<%= truncate(strip_tags(post.content), length: 900) %>
					</p>
					<hr id="dashed">
					<span id="status"><Статус: <%= post.published ? "опубліковано" : "закрито" %> | Дата створення: 
						<%= post.created_at.strftime("%d").to_s %> 
						<%= set_month(post.created_at.strftime("%m").to_i) %> 
						<%= post.created_at.strftime("%Y").to_s %> року>		
					</span>
				</div>
			<% end %>
			<%= paginate @posts, :theme => 'admin' %>
		<% else %>
			<%= link_to 'Повернутися до списку записів', posts_admin_path, class: 'btn btn-default' %>
			<hr>
		<% end %>	
	</div>
</div>

<div class="col-md-3">
	
	<div id="right-sidebar">
		<div id="adding">
			<h2>Додати користувача: </h2>
			<hr>
			<%= link_to 'Добавити користувача', new_user_admin_path, class: 'btn btn-default' %>
	  </div>  
	</div>

	<div id="right-sidebar">
		<div id="search">
			<h2>Пошук по користувачах: </h2>
			<hr>
			<%= form_tag admin_path, method: 'GET' do %>
	      <%= text_field_tag :query_user, params[:query_user], placeholder: 'Пошук', class: 'form-control' %> 
	      <%= submit_tag 'Найти', class: 'btn btn-primary' %>
	    <% end %>
	  </div>  
	</div>
	
</div>