<h2>Вхід користувача</h2>
<hr>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, placeholder: "Введіть e-mail", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", placeholder: "Введіть пароль", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.check_box :remember_me %>
    <%= f.label :remember_me, "Запамятати мене" %>
  </div>

  <div class="form-group">
    <%= f.submit "Війти", class: 'btn btn-default' %>
    <%= link_to new_registration_path(:user) do %>
      <%= submit_tag 'Зареєструватись', class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
<%= link_to "-> повернутися на головну", root_path %>

